*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*header style*/

header{
    background-color: #ff6900;
}

.container-header{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img{
    width: 130px;
}

header ul{
    list-style-type: none;
}

header li:first-child{
    margin-right: 10px;
}

header li:last-child{
    margin-left: 10px;
}

header li{
    display: inline;
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}